html {
    box-sizing: border-box;
}
 *:before, *:after {
    box-sizing: inherit;
}

:root{
    --Portage:#899EE5;
    --WhiteLinen:#F8EFE7;
    --gris:#919ca4;

    --RobotoBold: Roboto-Bold,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --RobotoRegular: Roboto-Regular,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



@font-face{
    font-family: Roboto-Bold;
    src: url("../../webfonts/Roboto-Bold.ttf") format('truetype');
}
@font-face{
    font-family: Roboto-Regular;
    src: url("../../webfonts/Roboto-Regular.ttf") format('truetype');
}

body{
    background: var(--WhiteLinen);
}
header{
   background:var(--Portage) ;
}
main{
    margin-top: 75px;
}
h1{
    font-size: 20px;
    font-family: var(--RobotoRegular);
    color: var(--WhiteLinen);
}
.img-notebook{
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div h1{
    margin-top: 25px;
}

div h2{
    font-size: 20px;
    color: var(--Portage);
}
.btn-agregar{
    background: var(--Portage);
    color: var(--WhiteLinen);
}

th{
    color: #919ca4;
}

#adicionados{
    color: var(--Portage);
    font-size: 18px;
    font-family: var(--RobotoBold);
    padding-left: 15px;
}

.btn-delete{
    background: var(--Portage);
    color: var(--WhiteLinen);
    border-color: var(--WhiteLinen);
}
div h2 i{
    padding-left: 10px;
}
@media(max-width: 767px){
    .contactos{
        margin-top: 35px;
    }

    main{
        margin-top: 30px;
    }
}